
body {
    background-color: rgba(220, 144, 231, 0.934);
}

header {
    background-color: rgba(139, 255, 214, 0.821);
}

img:last-child {
    block-size: 35px;
    margin-left: 15px;
    margin-right: 15px;
}

h1 {
    padding: 1rem;
    text-align: center;
    font-weight: 100;
    /* background-color: rgb(231, 145, 41); */
}

.conteiner-fluid {
    align-content: center;
}

.col {
    /* margin: auto; */
    padding: 1rem;
}

div 
p.text {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

#block1 {
    max-width: 90%;
    padding: auto;
    margin: auto;
}

#block3 {
    background-color: rgba(248, 173, 81, 0.888);
    font-size: 2.8rem;
}

#block4 {
    margin-left: 565px;
}

div.container>p {
    text-align: center;
}

footer>div {
    text-align: center;
}

div.content p {
    font-size: 1rem;
    /* font-weight: bold; */
}

div.price-us {
    font-size: 2rem;
    text-align: right;
}

@media screen and (width < 900px)
{#block4 {
    margin: auto;
}}

@media screen and (width < 900px)
{img:last-child {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}}
